<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808847082901-uqlurdh601f02sq9gfmj4at0f4qv3lr8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808847082901-uqlurdh601f02sq9gfmj4at0f4qv3lr8</string>
	<key>API_KEY</key>
	<string>AIzaSyCJ0sVtNxEf83ARkTPZdoHkuF5LO0pU_9o</string>
	<key>GCM_SENDER_ID</key>
	<string>808847082901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.twitchClone</string>
	<key>PROJECT_ID</key>
	<string>twitch-clone-f168a</string>
	<key>STORAGE_BUCKET</key>
	<string>twitch-clone-f168a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808847082901:ios:a0ce058106036cb9fd229c</string>
</dict>
</plist>